/* Variables
   ========================================================================== */

/* ====== Image Path ====== */

$base-image-path: "/images/";

/* ====== Base Settings ====== */

/* Base (Global) */
$base-font-color: #575757;
$base-font-secondary-color: #e22422;
$base-font-size: 14px;
$base-font-family: "clan-regular", sans-serif;

/* Base (Headings) */
$heading-font-color: #575757;
$heading-font-family: "clan-regular", sans-serif;

/* Base (Links) */
$base-link-color: #575757;
$base-link-hover-color: #e22422;

/* Base (Background Color) */
$base-body-bg-color: #f9f9f9;
$base-quick-links-bg-color: #575757;
$base-bg-secondary-color: #e22422;

/* Base (Spacing) */
$base-spacing: 15px;

/* ====== Typography ====== */

/* Fonts */

$font-light: "clan-light", sans-serif;
$font-regular: "clan-regular", sans-serif;
$font-bold: "clan-bold", sans-serif;

/* Text Colors */
$font-white: #fff;
$font-black: #000;

/* ====== Background ====== */

/* Background Colors */
$bg-white: #fff;
$bg-black: #000;
