<div class="global-header__quick-links">

    <div class="container">

        <ul>
            <li><a href="#">Sample Link</a></li>
            <li><a href="#">Sample Link</a></li>
            <li><a href="#">Sample Link</a></li>
            <li><a href="#">Sample Link</a></li>
        </ul>

    </div>

</div>

<div class="container">

    <div class="global-header__left">
        <a class="logo" href="{{ site.baseurl }}/index.html" title="{{ site.title }}"><img src="/images/theme/logo.png"></a>
    </div>

    <div class="global-header__right">

        <nav class="main-nav hide-tablet">
            <ul>
                <li><a href="{{ site.baseurl }}/index.html" title="Home">Home</a></li>
            </ul>
        </nav>

     </div>

</div>
