<script src="{{ "/js/nes/lib/dynamicaudio-min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/nes.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/utils.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/cpu.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/keyboard.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/mappers.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/papu.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/ppu.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/rom.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/js/nes/source/ui.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
